/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #C97200;
    text-decoration: none;
}
.lf {
    float: left;
}
.right {
    float: right
}
/*添加好友高级搜索页面样式表*/

label{font-size: 18px}
.weui-select {
    width: 100%;
    font-size: 13px;
    line-height:normal;
    padding:10px 5px;
    position: relative;
}
.my_select{
    font-size: 15px;
    line-height:normal;
    padding:10px 5px;
    width: 80px;
}
.weui-label{
    width: 70px;
}
.weui-btn {
    line-height: 2;
}
option{
    padding-left: 5px;
}
.weui-cell_select-after .weui-select {
    padding-left: 10px;
}
#province,#city{
    width: 40%;
}




