/*通用样式*/
ul, p, h3, h2, input, h4{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #C97200;
    text-decoration: none;
}
.lf {
    float: left;
}
.right {
    float: right
}
/*社区讨论群*/
#commDiscu{
    width: 100%;
    padding: 12.8px;
    box-sizing: border-box;
}
/*群头像*/
.flockDiv{
    position: relative;
    text-align: center;
}
/*群信息*/
.flockMember>li{
    width: 35px;
    height: 35px;
    border-radius: 2rem;
    border: 1px solid black;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    line-height: 35px;
}
.addMember{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2rem;
    border: 1px solid black;
    text-align: center;
    line-height: 60px;
}
.adda{
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top:487px;
    left: 111px;
    z-index: 100;
}
.weui-grid__label{
    font-size: 12px;
}
.weui-cells {
    width: 100%;
}
.groupNUM span{
    font-size: 15px;
    color:black;
}





