/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
html{
    touch-action: manipulation;
}
body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
/*创建新群的具体样式*/
.weui-uploader__input-box {
    margin: 0 auto;
    float: none;
}
.flockHead{
    width: 77px;
    height: 77px;
    border: 1px solid #d9d9d9;
    margin: 0 auto;
    display: none;
}
.weui-cells:after, .weui-cells:before {
    content: none;

}
label{
    display: inline-block;
    width: 30%;
    text-align: right;
    font-size: 15px;
}
input{
    width: 50%;
    margin-top: 30px;
    height: 30px;
    outline: none;
    padding-left:5px ;
    font-size: 15px;

}
.weui-footer {
    margin-top: 50px;
}
select{
    margin-top: 30px;
    height: 30px;
}









