/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
.linkBtn{
    width: 25px;
}
.weui-cell__bd p{
    font-size: 18px;
}
.weui-cell__ft span{
    font-size: 12px;
}
.weui-media-box__title{
    font-size: 15px;
}
.weui-media-box__desc{
    font-size: 12px;
}
.weui-media-box_appmsg .weui-media-box__hd {
    margin-right: .8em;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.manegeNum,.userNum{
    font-size: 13px;
    color:black;
}
.weui-media-box {
    padding:5px 15px;
}