/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
/*具体样式*/
.writerTime{
    text-align: left;
}
.writerTime span{
    margin-right: 10px;
}
.weui-cell {
     padding:0;
    margin-bottom:10px ;
}
.weui-label {
    width: 80px;
}
.headline:after{
    content: "";
    display: block;
    clear: both;
}
.weui-media-box {
    padding: 0;

}
.weui-navbar>a{
    font-weight: bold;
    font-size: 17px;
    padding:10px 5px;
    background:	#ECFFFF;
}
.weui-navbar + .weui-tab__bd {
    padding-top: 20px;
}
#sanji select{
    width: 45%;
    font-size: 15px;
}