/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    background: #b1b3b5;
}
body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
/*轮播样式*/
#flockPlay_details{
    padding: 10px;
}
.placeholder{
    text-align: center;
    background: bisque;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 2px;
}
.weui-cell{
    padding-left: 0;
}




