/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
/*样式*/
textarea{
    margin:0;
}
.weui-cells input{
    padding-left: 30px;
}
.addOption{
     position: relative;
 }
.addOption span{
    position: absolute;
    top:4px;
}
/*投票主题*/
.weui-gallery__img {
    overflow: hidden;
    height: 50%;
    top: 30%;
}