/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
body{
    background: 	#FCFCFC;
}
.weui-cell {
    padding: 5px 15px;
}
.weui-media-box:before {
    border-top: 5px solid 	#9D9D9D;
    color: 	#9D9D9D;
}





