/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    background:#b1b3b5 ;
}
body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;

}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
/*样式*/
label{
    font-size: 12px;
    display: inline-block;
    width: 25%;
    height: 30px;
    text-align: right;
}
#pushPlay{
    padding: 5px;
}
#pushPlay li{
    border-bottom: 1px solid #b1b3b5;
}
#pushPlay input{
    outline: none;
    padding: 4px;
    width: 65%;

}
#pushPlay .time input{
    width: 80px;

}
/*添加标签的显示位置*/
.labelBox>li{
    text-align: center;
    border-radius: 3px;
    margin-right: 2px;
    font-size: 10px;
    background: blue;
    color:red;
}
/*上传图片*/
.picPlace li{
    margin-right: 3px;
    width:77px ;
    height: 68px;
    border: 1px solid #b1b3b5;
    float:left ;
}
.picPlace li{
    position: relative;
}
.delImg{
    position: absolute;
    top:0;
    right: -1px;
}
.weui-gallery__img {
    overflow: hidden;
    height: 50%;
    top: 30%;
}







