/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    background:#E0E0E0;
}
body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right;}
/*样式内容*/
#flockPlay_apply{
    padding:6px 6px 50px 6px;
}
#flockPlay_apply label{
    display: inline-block;
    width: 25%;
    text-align: right;
}
#flockPlay_apply input{
    padding-left: 5px;
    width: 65%;
    height: 30px;
}
#flockPlay_apply li{
    padding: 10px 4px;
    border-bottom: 1px solid blanchedalmond;
}
.success{
    /*display: none;*/
    background: green;
    color:	#000079;
    font-size: 15px;
    text-align: center;
}





