/*通用样式*/
/*消除click事件延迟的300ms*/
html{
    touch-action: manipulation;
    font-size: 10px;
}
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #C97200;
    text-decoration: none;
}
.lf {
    float: left;
}
.right {
    float: right
}
/*聊天页面样式*/

/*聊天窗口样式*/

/*我的聊天窗口*/

/*朋友的聊天窗口*/

/*聊天时间*/

/*文字输入*/







