/*通用样式*/
html{
    touch-action: manipulation;
}
ul, p, h3, h2, input, h4,input {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #C97200;
    text-decoration: none;
}
.lf {
    float: left;
}
.right {
    float: right
}
/*我的话题之我要吐槽*/
#spitTopic .topicList>li{
    margin-top: 10px;
}
/*上传图片*/
#uploaderFiles li{
    margin-right: 3px;
    width:78px ;
    height: 78px;
    border: 1px solid #b1b3b5;
    float:left ;
    position: relative;
}
.delImg{
    position: absolute;
    top:0;
    right: -1px;
}
.weui-gallery__img {
    overflow: hidden;
    height: 50%;
    top: 30%;
}
label{
    display: inline-block;
    width: 30%;
    text-align: right;
    font-size: 15px;
}
input{
    width: 60%;
    outline: none;
    padding: 4px;
}

#spitTopic{
    padding:10px 10px;
    background:#F0F0F0;
}
.area select{
    width: 80px;
}
.weui-input {
    font-size: 15px;
}

.weui-uploader__file {
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    width: 70px;
    height: 70px;

}



