/*通用样式*/
ul, p, h3, h2, input, h4,h5 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
/*热门话题广告样式*/
.weui-navbar__item {
    padding: 5px 0;
    font-size: 12px;
}
.weui-navbar + .weui-tab__bd {
    padding-top: 30px;
}
.weui-media-box {
    padding:0 0 15px 0;

}
.weui-tab__bd-item{
    padding:0 10px;
}
select{margin-left: 5px}
.delImg{
    position: absolute;
    top:0;
    right: 0;
    width: 20px;
}
.adList{
    position: relative;
}








