/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
/*群成员头像*/
.flock_member_head{
    display: inline-block;
    width:3rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 3rem;
    overflow: hidden;
    margin-left: 1rem;
}
.flock_member_head img{
    width:3rem;
    height: 3rem;
}
/*好友列表star*/
.linkBtn{
    width: 2rem;
    height: 2rem;
}
/*具体样式*/
.weui-check__label{
    padding: 0;
}
.weui-media-box_appmsg{
    padding-left: 0;
}
