/*通用样式*/
ul, p, h3, h2, input, h4 {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body, div, ul, a {
    font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
/*样式内容*/

.topic{
    display: inline-block;
    width:50px ;
    height: 50px;
    border: 1px solid #bbbbbb;
    margin-left: 2px;
}
.weui-media-box__bd>ul:after{
    content: "";
    display: block;
    clear: left;
}
.weui-media-box {
    padding: 0
}
.weui-panel:after {
    border-bottom:0 solid #e5e5e5;
}
/*投票按钮*/
.demos-content-padded {
    padding-top:60px;
}

