html{
    touch-action:manipulation;
}
ul,p{
    padding:0;
    margin:0;
}
a,a:hover{ text-decoration:none; color:#333}
ul{
    list-style: none;
}
body {
    font-family : Arial, Helvetica, Sans-Serif;
}
label{
    text-align: right;
    display: inline-block;
    width: 35%;
}
input {
    outline: none;
    padding: 4px;
    width: 50%;
}
.weui-cell {
    padding: 10px 5px;
}
.lf{
    float: left;
}