/*通用样式*/
html{
    touch-action:manipulation;
}
ul,p{
    padding:0;
    margin:0;
}
a,a:hover{ text-decoration:none; color:#333}
ul{
    list-style: none;
}
body {
    font-family: Arial, Helvetica, Sans-Serif;
}
.lf {
    float: left;
}

.right {
    float: right
}

table{
    width: 100%;
    padding: 5px;
}
table td{
    display: inline-block;
    width: 25%;
    text-align:center;
    border-bottom:black solid 1px;
}
.integral{
    padding: 5px;
    text-align: center;
    position: relative;
}
.integralInform{
    position: absolute;
    right: 0;
    top:0;
}