html{
    touch-action:manipulation;
}
ul,p{
    padding:0;
    margin:0;
}
a,a:hover{ text-decoration:none; color:#333}
ul{
    list-style: none;
}
body {
    font-family : Arial, Helvetica, Sans-Serif;
}
a:hover {
    color: #C97200;
    text-decoration: none;
}

.lf {
    float: left;
}

.right {
    float: right
}
.weui-media-box__desc {
    text-indent:2em;
    color: black;
    font-size: 15px;
    -webkit-line-clamp: 200000;
}
.ideaContent li{
    color: green;
}