/*通用样式*/
.cover{
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    z-index:100;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
html{
    touch-action:manipulation;
}
ul,p{
    padding:0;
    margin:0;
}
a,a:hover{ text-decoration:none; color:#333}
ul{
    list-style: none;
}
body {
    font-family : Arial, Helvetica, Sans-Serif;
}
/*滚动水平导航栏 start*/
.lr_nb{border-bottom:1px solid #E8E8E8;border-top:1px solid #E8E8E8;width:100%;background:#fff;padding: 0 ;box-sizing:border-box;z-index:1;max-width:1080px;opacity:1;top:0;-webkit-transition:.3s all;transition:.3s all}
.lr_nb .slider_wrap.line{overflow:hidden;overflow-x:scroll;width:100%;-webkit-overflow-scrolling:touch;}
.lr_nb .slider_wrap.line .item_cell{display:inline-block;margin: 0 ;position:relative;}/*此处有移除隐藏取消了*/
.lr_nb .slider_wrap.box{overflow:hidden;width:100%}
.lr_nb .slider_wrap::-webkit-scrollbar{display:none}
.lr_nb .wx_items{white-space:nowrap}
.lr_nb .wx_items span{color:#666;font-size: 17px; white-space:nowrap;display:block;-webkit-tap-highlight-color:rgba(0,0,0,0);text-align:center;cursor:pointer}
.lr_nb .wx_items .current span,.lr_nb .wx_items .current a:visited,.lr_nb .wx_items .current a:link,.lr_nb .wx_items .current a:hover,.lr_nb .wx_items .current a:focus{color:#4fbeab;}
.lr_nb_after{height:40px;display:block;clear:both;}
/*滚动水平导航栏 end*/
.weui-navbar__item {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding: 5px;
}
.lr_nb .slider_wrap.line .item_cell {
    display: inline-block;
    margin: 0 ;
    position: relative;
}
.tab{
    margin-right: 5px;
}
.weui-navbar + .weui-tab__bd {
    padding-top: 45px;
}
/*二维码*/
.qrCode{
    position: relative;
    text-align: center;
}
/*个人资料 star*/
.weui-media-box__title {
    text-align: left;
    font-size: 17px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.weui-media-box_appmsg .weui-media-box__hd {
    margin-right: .8em;
     width: 70px;
     height: 70px;
    line-height: 50px;
}
.left{
    display: inline-block;
    width:30%;
    text-align: right;
}
.weui-cell {
    text-align: left;
}
.likes{
    display: inline-block;
    width: 65%;
}
.likes li{
    display: inline-block;
}
/*个人资料 end*/