/*通用样式*/
.cover{
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    z-index:100;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
html{
    touch-action:manipulation;
}
ul,p{
    padding:0;
    margin:0;
}
a,a:hover{ text-decoration:none; color:#333}
ul{
    list-style: none;
}
body {
    font-family : Arial, Helvetica, Sans-Serif;
}
/*二维码*/
.compileData{
    position: relative;
    text-align: center;
}
.weui-media-box_appmsg .weui-media-box__hd {
    width: 70px;
    height: 70px;
}
label{
    text-align: right;
    display: inline-block;
    width: 30%;
    font-size: 15px;
}
input{
    outline: none;
    padding: 4px;
    width: 60%;
    font-size: 15px;
}
/*获取验证码*/
.weui-input {
    width: 35%;
    font-size: 15px;
}
.weui-vcode-btn {
    padding: 0 ;
}